<div id="collection-page">
	<select class="input--dropdown">
		<option disabled="disabled" selected="selected" value="">Sort</option>
		<option>Newest Arrival</option>
		<option>A - Z</option>
		<option>Z - A</option>
		<option>Price Low to High</option>
		<option>Price High to Low</option>
	</select>
	<main>
		<section id="collection-list">
			{% for product in collection.products%}
			<div class="product-card">
				{%assign firstAvailableProduct =
				product.first_available_variant%} <img {% if
				firstAvailableProduct.image.src%} src="{{
					firstAvailableProduct.image.src | img_url: "large"
				}}" {% endif %} alt="Picture of {{ product.title }}"/>
				<div class="product-info">
					<p class="product-text">{{ product.title }}</p>
					<p class="product-text">
						{{ product.price_min | | money_without_currency }}
					</p>
				</div>
			</div>
			{% endfor %}
		</section>
	</main>
</div>
